<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798838675599-nig7sq4tvc5aaff3l5bmfmin0k3htbcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798838675599-nig7sq4tvc5aaff3l5bmfmin0k3htbcv</string>
	<key>API_KEY</key>
	<string>AIzaSyCGWRni1OVJ_L3D179ScgfYOWRwQHRbQng</string>
	<key>GCM_SENDER_ID</key>
	<string>798838675599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tripbookingapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-8dc95</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-8dc95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798838675599:ios:e3745dd3712c7712ad78fa</string>
</dict>
</plist>